<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pages">
    <div class="w3-bar">
        <a th:href=" @{${urlBegin} + 'page=' + ${prev} + '&size=' + ${size} }" class="w3-button">&laquo</a>
        <a th:each="p : ${pageable}">
            <a th:if="${p != 0}" th:href="@{${urlBegin} + 'page=' + ${p} + '&size=' + ${size}}" th:text="${p}" class="w3-button"></a>
            <a th:if="${p == 0}" th:text="..."></a>
        </a>
        <a th:href=" @{${urlBegin} + 'page=' + ${next} + '&size=' + ${size} }" class="w3-button">&raquo</a>
    </div>
</div>
</body>
</html>