<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<div class="w3-container gradient">
    <div class="w3-row">
        <div th:if="${param.error}">
            <div th:insert="common/info-box :: info (hasMessage=${true}, color='w3-red', title='Ошибка', message='Неправильный логин или пароль' )"></div>
        </div>
        <div th:if="${param.logout}">
            <div th:insert="common/info-box :: info (hasMessage=${true}, color='w3-blue', title='Выход', message='Вы вышли из аккаунта ')"></div>
        </div>
        <div class="w3-container w3-card w3-round-large w3-theme-xlight w3-col l7" style="margin-top: 12vh; margin-left: 7vw; margin-right: 7vw; height: max-content; margin-bottom: 28.5vh; width: 90vh">
            <form th:action="@{/login}" method="post" class="w3-container w3-padding-64" style="height: inherit; margin-right: 2vw;">
                <label class="w3-text-theme-dark w3-large w3-margin"  style="font-size: 20px" >Логин или Email</label>
                <input required type="text" class="w3-input w3-border w3-round w3-margin w3-text-theme w3-xlarge w3-hover-border-theme" name="username">

                <label class="w3-text-theme-dark w3-large w3-margin"  style="font-size: 20px" >Пароль</label>
                <input required type="password" class="w3-input w3-border w3-round w3-margin w3-text-theme w3-xlarge w3-hover-border-theme" name="password">

                <input type="submit" value="Войти" class="w3-btn w3-round w3-theme-d1 w3-margin w3-padding-32" style="width: 100%; font-size: 20px;">
                <p class="w3-margin" style="font-size: 20px"> Нет аккаунта? <a href="/">Зарегистрируйтесь</a></p>

            </form>
        </div>
        <div class="w3-col l3">
            <img src="/img/job.png" style="width: 25vw; margin-top: 150px; margin-left: 50px">
        </div>


    </div>

</div>

</body>
</html>